<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.julianhofmann.h_bank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HBank"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.system.ServerInfoActivity"
            android:label="@string/server_info"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity"/>
        <activity
            android:name=".ui.system.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity"/>
        <activity
            android:name=".ui.main.log.LogItemInfoActivity"
            android:label="@string/title_fragment_log"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transaction.PaymentPlanInfoActivity"
            android:label="@string/title_activity_create_payment_plan"
            android:parentActivityName=".ui.transaction.PaymentPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transaction.CreatePaymentPlanActivity"
            android:label="@string/title_activity_create_payment_plan"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transaction.PaymentPlanActivity"
            android:label="@string/title_activity_payment_plan"
            android:parentActivityName=".ui.main.user_list.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transaction.TransferMoneyActivity"
            android:label="@string/title_activity_transfer_money"
            android:parentActivityName=".ui.main.user_list.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.user_list.UserInfoActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".ui.auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>