<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.julianhofmann.h_bank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HBank"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LogItemInfoActivity"
            android:label="@string/title_fragment_log"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PaymentPlanInfoActivity"
            android:label="@string/title_activity_create_payment_plan"
            android:parentActivityName=".PaymentPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreatePaymentPlanActivity"
            android:label="@string/title_activity_create_payment_plan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentPlanActivity"
            android:label="@string/title_activity_payment_plan"
            android:parentActivityName=".UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransferMoneyActivity"
            android:label="@string/title_activity_transfer_money"
            android:parentActivityName=".UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfoActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>